<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Java Blog App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Welcome to the Java Blog!</h1>
    <form onsubmit="submitPost()">
      <input type="text" placeholder="Enter title..." name="title" />
      <textarea
        rows="7"
        cols="25"
        placeholder="Enter content..."
        name="content"
      ></textarea>
      <button type="submit">Post</button>
    </form>
    <hr />
    <div class="post" th:each="post: ${posts}">
      <h2 th:text="${post.title}" />
      <small
        th:text="'Posted on: ' + ${#dates.format(post.createdAt, 'MMM dd')}"
        style="color: gray; margin-bottom: 5px; display: block"
      />
      <p th:text="${post.content}" />
      <a href="" th:data-id="${post.postId}" onclick="deletePost()">Delete</a>
    </div>
    <script>
      async function submitPost() {
        const { event } = window;
        event.preventDefault();
        const form = new FormData(event.target);
        const title = form.get('title');
        const content = form.get('content');

        if (!title || !content)
          return alert('Must have title and content to post.');

        await fetch('http://localhost:8080/api/posts', {
          method: 'POST',
          mode: 'cors',
          credentials: 'same-origin',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ title: title, content: content }),
        })
          .then((res) => {
            console.log(res);
            return window.location.reload();
          })
          .catch((err) => {
            console.error(err);
            return alert('Something went wrong');
          });
      }

      async function deletePost() {
        window.event.preventDefault();
        const postId = window.event.target.dataset.id;

        if (confirm(`Are you sure you want to delete this post?`)) {
          await fetch(`http://localhost:8080/api/posts/${postId}`, {
            method: 'DELETE',
            mode: 'cors',
            credentials: 'same-origin',
          })
            .then((res) => {
              console.log(res);
              return window.location.reload();
            })
            .catch((err) => {
              console.log(err);
              return alert('Something went wrong');
            });
          return;
        }
        return;
      }
    </script>
  </body>
</html>
